$accentColor = #455882 
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #455882
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961