$accentColor = #007500
$textColor = #141E12 
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #009900
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961